body {
   font-family: Roboto;
   margin-left: 30%;
   margin-right: 30%
}

header{
   padding: 2em;
   margin: auto;
   display: float;
   display: block;
   text-align: center;
}

.submit{
   margin: auto;
   border: none;
   background-color: #FF0088;
   color: white;
   display: block;
   float: right;
}

td, th{
   padding-left: .5em;
   padding-right: .5em;
}

input.tier-id{
   width:2em;
}

.submit:hover{
   background-color: #FF55AA;
}

.submit:disabled{
   background-color: #DDDDDD;
}

#instruction{
   text-align: center;
}

#yay{
   font-size: 40em;
}

.left-aligned{
   text-align: left;
}

.right-aligned{
   text-align: right;
}

h1, h2, h3, h4{
   margin-top: 3em;
   font-family: 'Roboto Slab', serif;
}

#steps{
   position: absolute;
   right: 30px;
   top: 30px;
   background-color: #f5a;
   color: white;
   padding: 10px;
   width: auto;
   height: auto;
}

.attributes{
   visibility: hidden;
}

#content-marker-wrapper{
   margin-bottom: 10%;
}
